extends layout

block content
  br
  div.row
    div.small-3.column
      img(src='http://placehold.it/350x350')
    div.small-3.column
      img(src='http://placehold.it/350x350')
    div.small-3.column
      img(src='http://placehold.it/350x350')
    div.small-3.column
      img(src='http://placehold.it/350x350')
  br
  div.row
    div.small-3.column
      img(src='http://placehold.it/350x350')
    div.small-3.column
      img(src='http://placehold.it/350x350')
    div.small-3.column
      img(src='http://placehold.it/350x350')
    div.small-3.column
      img(src='http://placehold.it/350x350')
  br
  div.row
    div.small-3.column
      img(src='http://placehold.it/350x350')
    div.small-3.column
      img(src='http://placehold.it/350x350')
    div.small-3.column
      img(src='http://placehold.it/350x350')
    div.small-3.column
      img(src='http://placehold.it/350x350')
  br
  br
  footer.row
    div.large-12.columns
      hr
      div.large-6.columns
        p
          |  Proyecto de Código Abierto en 
          a(href="https://github.com/marti1125/Monedas_del_Peru", target="blank_") Github