extends layout

block content
	h1= title

	table
		tr
			th Titulo
			th Imagen
			th &nbsp;
		- if (monedas)
			- each moneda in monedas
				tr
					td a(href="/moneda/" + moneda._id.toString()) #{moneda.titulo}
					td #{moneda.imagen}
					td a(href="/retirar-moneda/" + moneda._id.toString()) Borrar
	p
  		a(href='/agregar-moneda') Agregar Moneda