extends layout

block content
    form( method="post", action="/monedas" )
    div
        div
            span Title :
            input( name="titulo", rows=2, id="editArticleTitle")
        div
            span Body :
            textarea( name="image", rows=10, id="editArticleBody")
        div
        div#editArticleSubmit
            input( type="submit", value="Send")